*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tutte le immagini */
img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: contain;
}

/* First megacontainer */
.container1{
    background-color: #DADBD4;
    height: 100vh;
    z-index: 1;
    position: relative;
}

/* green stripe in the first megacontaier */
#greenTop{
    background-color: #009788;
    height: 15%;
}

/* the second mega container, here we have the content */
.container2{
    position: fixed;
    top: 5%;
    right: 12.5%;
    width: 75vw;
    height: 90vh;
    margin: auto;
    /* background-color: lightblue; */
    z-index: 2;
    display: flex;
}


/* Left part of the second mega container */
.containerLeft{
    width: calc( 100% - 70%);
    height: 90vh;
    background-color: aquamarine;
    position: relative;
}

/*  Upper part of the left part of the 2nd megacontainer */
.containerFixedInLeft{
    min-height: calc(90vh / 4);
    width: 100%;
    background-color: cornflowerblue;
}

#favourites{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

#favourites > img{
    margin-right: 0.5rem;
}


#favourites{
    width: 100%;
    height: calc(100% / 3);
    background-color: #EAEAEA;
}

#notifification{
    width: 100%;
    height: calc(100% / 3);
    background-color: #8DDAFC;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#notifification > i {
    color: #8DDAFC;
    background-color: white;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: calc(100% / 6);
    margin: 0 auto;
    padding: 0.4rem;
    background-color: #eaeaea;
    border-radius: 0.35rem;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 0.35rem;
    border: none;
    background-color: transparent;
  }
  
  .search-bar button[type="submit"] {
    padding:  0.35rem 0.7rem;
    background-color: #00978800;
    color: #B2B2B0;
    border: none;
    border-radius:  0.35rem;
    cursor: pointer;
  }

/* Lower part of the left part of the 2nd megacontainer */
#contacts{
    width: 100%;
    height: calc(90vh - 25%);
    background-color: #FFFFFF;
    overflow: auto;
}

.userAcquitance{
    display: flex;
    align-items: center;
    height: calc(100% / 7);
    border-bottom: 1px solid #000;
}


/* Right part of the second mega container */
.containerRight{
    width: 70%;
    height: 100%;
    background-color: burlywood;
}

  

.containerFixedTopInRight{
    width: 100%;
    height: 10%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

.cftirL{
    padding: 1rem;
    display: flex;
    align-items: center;
}

.cftirL > img{
    margin-right: 0.5rem;
}

.cftirR{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.messageConversation{
    width: 100%;
    height: calc(100% - 10% - 10%);
    background-color: chartreuse;
    overflow: auto;
}

.containerFixedBottomInRight{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
}


/* !DEBUG */


div{
    border: 1px solid black;
}